html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
}
body{
    background: rgb(33,73,24);
    background: linear-gradient(90deg, rgba(33,73,24,1) 0%,
     rgba(3,255,0,1) 100%);    
    header{
    background-color: rgb(5, 47, 5);
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    .fa-bars{
        display: none;
    }
    .head1{
        h2{
            font-size: 40px;
        }
        a{
            color: white;
            text-decoration: none;
                transition: 1s;
        }
        a:hover{
            color: green;
        }
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        height: 80px;
    }
    ul{
        display: flex;
        gap: 40px;
        list-style: none;
        a:hover{
            color: green;
        }
        li{
            width: 70px;
            text-align: center;
        }
    }
    .head2{
        margin-right: 30px;
        a{
            color:white;
            text-decoration: none;
            transition: 1s;
        }
        a:hover{
            color: green;
        }
        width: 50%;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        button{
            margin-right: 50px;
            background-color: black;
            color: white;
            border: none;
            height: 40px;
            width: 150px;
            transition: 1s;
            cursor: pointer;
        }
        button:hover{
            background-color:green; ;
        }
    }
    }
    .forInput{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
    input{
        width: 300px;
        height: 50px;
        border-radius: 50px;
        border: none;
        padding-left: 10px;
        transition: 1s;
        color: aqua;
        }
        input:hover{
            background-color: greenyellow;
        }
        input:focus{
            background-color: rgb(121, 160, 63);
        }
    }
    #main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        div{
            width: 300px;
            background-color: rgb(18, 246, 83);
            height: 400px;
            margin-top: 50px;
            margin-inline:50px ;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 5px white;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        img{
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
        button{
            height: 10%;
            background-color:  rgb(18, 246, 83);
            border: none;
            cursor: pointer;
            font-size: 30px;
            transition: 1s;
        }
        button:hover{
            background-color:aqua ;
        }
    }
    }
    #fexi{
        background-color: black;
        width: 100%;
        height: 300px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a{
            color: greenyellow;
            text-decoration: none;
            transition: 1s;
        }
        a:hover{
            color: green;
        }
        div{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            width: 50%;
            div{
                display: flex;
                gap: 20px;
            }
        }
        p{
            color: white;
        }
        h2{
            color: white;
        }
    }
}
@media screen and (max-width: 1132px) {
    .head1 ul {
        display: none;
      }
      .head1 .fa-bars {
        display: block !important;
        font-size: 30px;
      }
}
@media screen and (max-width: 721px){
    #fexi{
        .fa-envelope{
            display: none !important;
        }
        .fa-brands{
            display: none !important; 
        }
    }
}
@media screen and (max-width: 423px){
    .head1{
        .fa-bars{
            position: relative;
            left: 50px;
        }
    }
}
@media screen and (max-width: 370px){
    .head2{
        display: none !important;
    }
}
@media screen and (max-width: 489px){
    #fexi{
        text-align: center;
    }
}
@media screen and (max-width: 350px){
    .head1{
        h2{
            font-size: 30px !important;
        }
    }
}
@media screen and (max-width: 273px){
    .head1{
        h2{
            font-size: 20px !important;
        }
    }
}
@media screen and (max-width: 203px){
    .head1{
        h2{
            font-size: 15px !important;
        }
    }
}
@media screen and (max-width: 190px){
    input{
        width: 90px !important;
    }
}
@media screen and (max-width: 361px){
    #fexi{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 280px){
    #fexi{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        a{
            font-size: 11px;
        }
    }
    .tani{
        h2{
            font-size: 15px !important;
        }
    }
}
@media screen and (max-width: 182px){
    button{
        font-size: 20px !important;
    }
}
